@page "/shopping"
@using Microsoft.AspNetCore.SignalR.Client
@using vezba1.Shared;
@inject NavigationManager NM
@inject IJSRuntime IsRunTime




<h3 class="text-center">Shopping</h3>
<button @onclick="Testiraj"><h4>Prodavnica</h4></button>

<button @onclick="Otvori"><h4>Korpa <p style="color:red;float:right;border:1px solid black; border-radius:10px;margin-left:10px;">@PoruceniArtikli.Count</p></h4></button>

<div>
    <ul>
        @foreach (Artikli sas in Tekst)
        {
            <li><button @onclick="(()=>Proizvod(sas))">+</button> @sas</li>
        }
    </ul>
</div>





<div style="visibility:@vidise">
    <h1>Korpa:</h1>
    <ul>
        @foreach (Artikli ek in PoruceniArtikli)
        {
            <li><button @onclick="(()=>Ukloni(ek))">-</button> @ek Cena:@ek.Cena</li>

        }
        <p>Ukupna Cena: @UkupnaCena</p>
    </ul>

</div>




@code {

    public List<Artikli> Tekst = new List<Artikli>();

    public List<Artikli> PoruceniArtikli = new List<Artikli>();
    public int UkupnaCena { set; get; } = 0;
    public string vidise { set; get; } = "visible";

    public HubConnection KaServeru;

    protected override async Task OnInitializedAsync()
    {
        KaServeru = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/hb")).Build();

        KaServeru.On<List<Artikli>>("KlijentMetoda", tekst =>
        {
            Tekst = tekst;
            StateHasChanged();
        });

        KaServeru.On<List<Artikli>>("EvoKorpe", esk =>
        {
            PoruceniArtikli = esk;
            StateHasChanged();
        });

        await KaServeru.StartAsync();
    }

    Task Testiraj()
    {

        return KaServeru.SendAsync("SviArtikli");
    }

    public void Proizvod(Artikli a)
    {
        PoruceniArtikli.Add(a);
        UkupnaCena += int.Parse(a.Cena);
        KaServeru.SendAsync("Korpa", a);

    }

    public void Ukloni(Artikli b)
    {
        PoruceniArtikli.Remove(b);
        UkupnaCena -= int.Parse(b.Cena);
        KaServeru.SendAsync("Uklonio", b);
    }

    public void Otvori()
    {
        if (vidise == "visible")
        {
            vidise = "hidden";
        }
        else
        {
            vidise = "visible";
        }
    }


}

