@page "/shopping"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NM


<h3 class="text-center">Shopping</h3>
<div class="navigacija">
    <button><h4>Prodavnica</h4></button>
    <button><h4>Korpa</h4></button>
</div>


<h2>@Tekst</h2>
<button @onclick="Testiraj">Javi se serveru!</button>



@code {
    public string Tekst { set; get; }
    public HubConnection KaServeru;

    protected override async Task OnInitializedAsync()
    {
        KaServeru = new HubConnectionBuilder().WithUrl(NM.ToAbsoluteUri("/hb")).Build();

        KaServeru.On<string>("KlijentMetoda", tekst =>
        {
            Tekst = tekst;
            StateHasChanged();
        });

        await KaServeru.StartAsync();
    }

    Task Testiraj()
    {
        return KaServeru.SendAsync("DodajArtikal");
    }

}
